.category-section {
    width: 100%;
    padding: 50px 8%;
}

.category-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 35px;
    color: #222;
}

.category-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.category-card {
    width: 170px;
    height: 160px;
    border: none;
    border-radius: 18px;
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
    cursor: pointer;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.category-card span {
    font-size: 45px;
}

.category-card p {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.category-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .15);
}

.category-card.active {
    background: #198754;
}

.category-card.active p,
.category-card.active span {
    color: white;
}