* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    width: 100%;
    max-width: 290px;
    background: white;
    border-radius: 22px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
    transition: .3s;
}

.card:hover {
    transform: translateY(-6px)
}

.card-top {
    position: relative;
    height: 250px;
    background: #f6f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.product-image {
    width: 70%;
    max-width: 170px;
    height: auto;
    object-fit: contain;
}

.card:hover .product-image {
    transform: scale(1.08);
}

.category {
    position: absolute;
    z-index: 10;
    top: 18px;
    right: 18px;
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid #a5b6ff;
    background: white;
    font-size: clamp(20px, 2vw, 28px);
    color: #5c6bc0;
    font-weight: 600;
}

.card-content {
    padding: 22px;
}

.card-content h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

.card-content p {
    color: gray;
    font-size: 16px;
    margin-bottom: 25px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-bottom h3 {
    font-size: clamp(22px, 2vw, 30px);
}

.add-btn {
    border: none;
    background: #ff6b35;
    color: white;
    padding: 12px 22px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: .3s;
}

.add-btn:hover {
    background: #ff5722;
}

@media(max-width:768px) {
    .card {
        max-width: 320px;
        margin: auto;
    }
    .card-top {
        height: 220px;
    }
    .product-image {
        max-width: 140px;
    }
    .card-content {
        padding: 18px;
    }
    .card-content h2 {
        font-size: 22px;
    }
    .card-content p {
        font-size: 15px;
    }
    .card-bottom h3 {
        font-size: 24px;
    }
    .add-btn {
        padding: 10px 18px;
        font-size: 15px;
    }
}

@media(max-width:480px) {
    .card {
        max-width: 100%;
    }
    .card-top {
        height: 200px;
    }
    .product-image {
        max-width: 120px;
    }
}