.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 25px;
    padding: 30px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    overflow-x: hidden;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}